@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

/*configurações gerais*/

body {
    font-family: "Parkinsans", sans-serif;
    cursor: url("../img/cursor-1.png") 16 16, auto;
}

h2 {
    font-weight: normal;
    color: #ca2521;
}


h3 {
    font-weight: normal;
    color: #0a430c;
}

.pdf {
    text-align: center;
    display: block;
    margin: 20px;
    color: #000;
    text-decoration: none;
}

.pdf:hover {
    text-decoration: underline;
}


/*forms e inputs*/

.input-group,
form {
    width: 60vw;
}

.quadro {
    background-color: #b5b3b335;
    margin: auto;
    border-radius: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.pedido-div {
    background-color: #eae7e735;
    margin: 10px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.is-valid {
    border: 2px solid green;
}

.is-invalid {
    border: 2px solid red;
}

/*cursor de pizza*/

button,
a {
    cursor: url("../img/cursor-2.png") 16 16, auto;
    font-family: "Parkinsans", sans-serif;
    cursor: url('../img/cursor-1.png'), url('../img/cursor-1.png') 16 16, auto !important;
}

button,
.btn,
a,
.nav-link,
.dropdown-item {
    cursor: url('../img/cursor-pointer.cur'), url('../img/cursor-1.png') 16 16, pointer !important;
    transition: transform .06s ease;
    -webkit-tap-highlight-color: transparent;
}

button:active,
.btn:active,
a:active {
    cursor: url('../img/cursor-click.cur'), url('../img/cursor-2.png') 16 16, pointer !important;
    transform: translateY(1px) scale(.995);
}

/*configurações do carrossel*/

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 30rem;
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.img1 {
    height: 150%;
    width: 100%;
}

/*configurações do design da página*/

.tit {
    font-family: 'Britannic Bold';
    font-size: 100px;
    color: #a50019;
    font-weight: bold;
    text-align: center;
}

.subt {
    font-family: "Host Grotesk", sans-serif;
    font-size: 1.4rem;
    color: #f08d36;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

/*configuração das fotos com links*/

.container {
    width: 1000px;
    position: relative;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.container .card {
    position: relative;
    cursor: pointer;
    border: none;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 18px;
}

.container .card .face.face1 {
    position: relative;
    background: #025939;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(30px);
}

.container .card:hover .face.face1 {
    background-color: #f29c50;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    max-width: 300px;
    max-height: 170px;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

p {
    font-family: "Host Grotesk", sans-serif;
    font-size: 17px;
    color: #000;
    text-align: center;
}

/*Media-Queries*/

@media (max-width: 700px) {
    .input-group {
        width: 95vw;
    }
    .container {
        width: 80%;
        display: block;
        padding-top: 30px;
    }
}

@media (max-width: 1128px) {
    .button-cad {
        display: block;
        flex-direction: column;
    }

    .btt {
        margin-top: 100px;
    }

}

@media (max-width: 1000px) {
    .container {
        width: 80%;
        position: relative;
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
    }

    .container .card .face {
        width: 200px;
        height: 200px;
        transition: 0.5s;
        border-radius: 18px;
    }

    .container .card .face.face1 .content img {
        max-width: 170px;
        max-height: 190px;
    }

}

@media (max-width: 770px) {
    .container, .container-sm {
        width: 300px;
        position: relative;
        display: flex;
        padding-top: 30px;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .container .card .face {
        width: 400px;
        margin-top: 20px;
        height: 400px;
        transition: 0;
        border-radius: 18px;
    }

    .container .card .face.face1 .content img {
        max-width: 400px;
        max-height: 300px;
    }
}